<!DOCTYPE html>
<html>
    <head>
        <title>Просмотр форума {{forum_name}}</title>
        {% include 'header.html' %}
    </head>
    <body>
        <div class="uk-flex uk-flex-center">
        <dl class="uk-description-list uk-description-list-divider">
            {% for theme in forum_themes %}
            <dt><a href="/forum/{{forum_name}}/{{theme.id}}">{{theme.title}}</a> от {{theme.user_email}}</dt>
            <dd>{{theme.content}}</dd>
            {% endfor %}
        </dl>
        </div>
        <div class="uk-flex uk-flex-center">
            Вы зашли как {{userdata.login}}
        </div>
        <div class="uk-flex uk-flex-center">
            <br>
        </div>
        <bl>
        <div class="uk-flex uk-flex-center">
        <form action="/addNewTheme" method="post">
            <span>Заголовок:</span><br>
            <input name="title" type="text"></input><br>
            <span>Сообщение:</span><br>
            <textarea name="content"></textarea><br>
            <input type="hidden" name="forum_name" value="{{forum_name}}"></input>
            <input type="submit" value="Опубликовать"></input>
        </form>
        </div>
    </body>
</html>